/* TodoList.css */
h1 {
  color: gold;
  align-items: center;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h3 {
  color: gold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.todo-item {
  border: 2px solid blue;
  background-color: blue;
  color: rgb(6, 0, 0);
  font-style: oblique;
  font-size: larger;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  margin: 5px 0;
  border-radius: 20px;
}

.todo-item.completed {
  background-color: rgb(21, 222, 21);
}

.todo-item span {
  text-decoration: none;
  cursor: pointer;
}

.todo-button {
  background-color: rgb(2, 2, 38);
  color: white;
  border: none;
  cursor: pointer;
  padding: 3px 8px;
}

.todo-button.completed {
  background-color: green;
}

body {
  background-color: black;
}